In [219]:
from pyscbwrapper import SCB
import pandas as pd
import numpy as np

## Query first table
### Energy sources in sweden since 1986

In [133]:
scb = SCB('sv')
scb.go_down('EN')
scb.go_down('EN0105')
scb.go_down('EN0105A')
scb.go_down('ElProdAr')
scb.get_variables()
scb.set_query(produktionsslag=['total tillförsel av el',
                              'vattenkraft',
                              'pumpkraft',
                              'kärnkraft',
                              'konventionell värmekraft, fjärrvärme',
                              'konventionell värmekraft, industri',
                              'vindkraft',
                              'solkraft',
                              'konventionell värmekraft, kondensproduktion',
                              'konventionell värmekraft, gasturbin- och annan produktion',
                              'import'], 
              tabellinnehåll=['Brutto'], 
              år=['1986',
                  '1987',
                  '1988',
                  '1989',
                  '1990',
                  '1991',
                  '1992',
                  '1993',
                  '1994',
                  '1995',
                  '1996',
                  '1997',
                  '1998',
                  '1999',
                  '2000',
                  '2001',
                  '2002',
                  '2003',
                  '2004',
                  '2005',
                  '2006',
                  '2007',
                  '2008',
                  '2009',
                  '2010',
                  '2011',
                  '2012',
                  '2013',
                  '2014',
                  '2015',
                  '2016',
                  '2017',
                  '2018',
                  '2019',
                  '2020',
                  '2021',
                  '2022'])
scb.get_query()
data = scb.get_data()['data']

In [141]:
# Convert to DataFrame
df = pd.DataFrame(data)

# Split the 'key' column into separate columns
df[['category', 'year']] = pd.DataFrame(df['key'].tolist(), index=df.index)

# Drop the original 'key' column
df.drop('key', axis=1, inplace=True)

# Rename the 'values' column
df.rename(columns={'values': 'value'}, inplace=True)

# Replace '..' with 0
df['value'] = df['value'].apply(lambda x: float(x[0]) if x[0] != '..' else 0)

# Convert the column to float type
df['value'] = df['value'].astype(float)

# Create Pivot table
pivot_df = df.pivot_table(index='year', columns='category', values='value')

# Rename columns
pivot_df.columns=['Gas Turbines', 'Import', 'Nuclear', 'Condensing Turbines', 'Main Activity Producer CHP', 'Autoproducer CHP',
       'Pumped Storage', 'Sum of Supply (GWh)', 'Hydro', 'Wind', 'Solar']

# Save with proper name
sweden_energy = pivot_df

In [142]:
sweden_energy # GWh

,Gas Turbines,Import,Nuclear,Condensing Turbines,Main Activity Producer CHP,Autoproducer CHP,Pumped Storage,Sum of Supply (GWh),Hydro,Wind,Solar
year,,,,,,,,,,,
1986,64.0,1835.0,69951.0,690.0,3550.0,2896.0,567.0,140486.0,60933.0,0.0,0.0
1987,81.0,2174.0,67385.0,509.0,3311.0,2837.0,594.0,148745.0,71854.0,0.0,0.0
1988,61.0,5064.0,69424.0,462.0,2861.0,2950.0,589.0,151294.0,69883.0,0.0,0.0
1989,85.0,12053.0,65603.0,278.0,2310.0,2889.0,175.0,155144.0,71750.0,0.0,0.0
1990,55.0,12909.0,68185.0,288.0,2290.0,2650.0,530.0,159417.0,72509.0,0.0,0.0
1991,64.0,6225.0,76761.0,366.0,3540.0,2978.0,426.0,153609.0,63249.0,0.0,0.0
1992,98.0,8847.0,63544.0,611.0,4136.0,3164.0,529.0,155292.0,74364.0,0.0,0.0
1993,145.0,7979.0,61395.0,463.0,4929.0,3616.0,565.0,153791.0,74647.0,52.0,0.0
1994,147.0,6680.0,73156.0,966.0,5325.0,3920.0,353.0,149718.0,59097.0,75.0,0.0
1995,96.0,7720.0,69935.0,473.0,5658.0,3928.0,58.0,156070.0,68096.0,105.0,0.0
1996,17.0,15885.0,74274.0,3869.0,6450.0,4103.0,35.0,156518.0,51740.0,144.0,0.0
1997,9.0,10252.0,69928.0,453.0,5472.0,4286.0,43.0,159659.0,69056.0,203.0,0.0
1998,8.0,6102.0,73583.0,279.0,5991.0,4052.0,40.0,165105.0,74743.0,308.0,0.0
1999,11.0,8456.0,73188.0,309.0,5516.0,4063.0,22.0,163615.0,71691.0,358.0,0.0
2000,35.0,18309.0,57316.0,305.0,4545.0,4307.0,35.0,163893.0,78584.0,457.0,0.0
2001,31.0,11164.0,72109.0,474.0,5369.0,4067.0,22.0,172779.0,79061.0,482.0,0.0
2002,37.0,20110.0,68111.0,1065.0,5824.0,4692.0,35.0,166842.0,66358.0,608.0,0.0
2003,127.0,24286.0,67415.0,1940.0,6901.0,4775.0,58.0,159721.0,53540.0,679.0,0.0
2004,7.0,15646.0,77671.0,915.0,7615.0,4766.0,43.0,168100.0,60588.0,850.0,0.0
2005,31.0,14574.0,72691.0,734.0,6914.0,4977.0,71.0,173634.0,72692.0,949.0,0.0
2006,12.0,17547.0,66977.0,776.0,7512.0,5328.0,69.0,160847.0,61638.0,988.0,0.0
2007,27.0,16051.0,66969.0,528.0,7607.0,5914.0,102.0,164793.0,66163.0,1432.0,0.0
2008,20.0,12754.0,63889.0,690.0,7670.0,6283.0,105.0,162404.0,68997.0,1996.0,0.0
2009,18.0,13771.0,52173.0,460.0,9828.0,6107.0,196.0,150452.0,65414.0,2485.0,0.0
2010,22.0,14932.0,57728.0,535.0,12721.0,6468.0,103.0,163187.0,67176.0,3502.0,0.0
2011,10.0,12481.0,60475.0,830.0,10549.0,6000.0,122.0,163644.0,67064.0,6101.0,13.0
2012,12.0,11680.0,64037.0,329.0,9341.0,6333.0,126.0,177982.0,78939.0,7165.0,19.0
2013,11.0,12674.0,66457.0,311.0,9159.0,5844.0,135.0,165829.0,61361.0,9842.0,35.0
2014,12.0,13852.0,64877.0,426.0,7410.0,5785.0,108.0,167514.0,63763.0,11234.0,47.0
2015,11.0,9294.0,56348.0,235.0,7843.0,5816.0,127.0,171352.0,75312.0,16268.0,97.0
2016,14.0,14287.0,63101.0,288.0,9122.0,5727.0,119.0,170418.0,62137.0,15479.0,143.0
2017,8.0,11896.0,65696.0,318.0,9018.0,6203.0,102.0,176146.0,65066.0,17609.0,230.0
2018,18.0,12202.0,68549.0,300.0,9126.0,6128.0,100.0,175586.0,62150.0,16623.0,391.0
2019,10.0,9070.0,66130.0,174.0,9247.0,6959.0,93.0,177493.0,65300.0,19847.0,663.0
2020,13.0,11827.0,49198.0,281.0,6715.0,6609.0,149.0,175644.0,72290.0,27526.0,1035.0
2021,24.0,8341.0,52965.0,388.0,8831.0,6894.0,127.0,180120.0,73799.0,27244.0,1507.0
2022,14.0,6181.0,51944.0,453.0,8553.0,6995.0,157.0,179323.0,69810.0,33253.0,1963.0

## Getting Age data

In [174]:
scb = SCB('sv')
scb.go_down('BE')
scb.go_down('BE0101')
scb.go_down('BE0101B')
scb.go_down('BefolkMedianAlder')
scb.get_variables()
scb.set_query(kön=['män','kvinnor','totalt'],
              tabellinnehåll=['Medelålder', 'Medianålder'], 
              år=['1968',
                  '1969',
                  '1970',
                  '1971',
                  '1972',
                  '1973',
                  '1974',
                  '1975',
                  '1976',
                  '1977',
                  '1978',
                  '1979',
                  '1980',
                  '1981',
                  '1982',
                  '1983',
                  '1984',
                  '1985',
                  '1986',
                  '1987',
                  '1988',
                  '1989',
                  '1990',
                  '1991',
                  '1992',
                  '1993',
                  '1994',
                  '1995',
                  '1996',
                  '1997',
                  '1998',
                  '1999',
                  '2000',
                  '2001',
                  '2002',
                  '2003',
                  '2004',
                  '2005',
                  '2006',
                  '2007',
                  '2008',
                  '2009',
                  '2010',
                  '2011',
                  '2012',
                  '2013',
                  '2014',
                  '2015',
                  '2016',
                  '2017',
                  '2018',
                  '2019',
                  '2020',
                  '2021',
                  '2022',
                  '2023'])
scb.get_query()
data = scb.get_data()['data']

In [175]:
# Convert to DataFrame
df = pd.DataFrame(data)

# Split the 'key' column into separate columns
df[['category', 'year']] = pd.DataFrame(df['key'].tolist(), index=df.index)

# Drop the original 'key' column
df.drop('key', axis=1, inplace=True)

# Extract mean age and median age from the 'values' column
df['mean_age'] = df['values'].apply(lambda x: float(x[0]) if x[0] != '..' else np.nan)
df['median_age'] = df['values'].apply(lambda x: float(x[1]) if x[1] != '..' else np.nan)

# Drop the original 'values' column
df.drop('values', axis=1, inplace=True)

# Rename categories
category_mapping = {'1': 'Male', '1+2': 'Total', '2': 'Female'}
df['category'] = df['category'].map(category_mapping)

# Create Pivot table
pivot_df = df.pivot_table(index='year', columns='category')

sweden_age = pivot_df
sweden_age

         mean_age               median_age
category   Female   Male  Total     Female   Male  Total
year
1968        37.90  36.20  37.05      37.04  34.51  35.77
1969        37.98  36.23  37.11      36.87  34.24  35.52
1970        38.07  36.28  37.18      36.67  34.01  35.30
1971        38.22  36.38  37.31      36.63  33.98  35.26
1972        38.38  36.49  37.44      36.62  34.01  35.27
1973        38.55  36.61  37.58      36.65  34.09  35.31
1974        38.69  36.69  37.70      36.65  34.08  35.33
1975        38.83  36.78  37.81      36.67  34.11  35.36
1976        38.98  36.87  37.93      36.72  34.25  35.36
1977        39.15  36.98  38.07      36.72  34.45  35.49
1978        39.33  37.12  38.24      36.87  34.71  35.71
1979        39.51  37.24  38.38      37.08  34.98  35.95
1980        39.67  37.36  38.53      37.34  35.28  36.26
1981        39.85  37.50  38.69      37.65  35.61  36.59
1982        40.05  37.65  38.87      37.98  35.91  36.91
1983        40.26  37.80  39.04      38.35  36.25  37.29
1984        40.44  37.93  39.20      38.69  36.53  37.61
1985        40.57  38.01  39.31      38.98  36.74  37.85
1986        40.68  38.08  39.39      39.27  36.90  38.08
1987        40.76  38.13  39.46      39.50  37.03  38.28
1988        40.79  38.13  39.47      39.66  37.06  38.39
1989        40.79  38.10  39.46      39.74  37.03  38.40
1990        40.75  38.06  39.42      39.75  37.01  38.36
1991        40.74  38.03  39.40      39.76  36.99  38.38
1992        40.75  38.03  39.41      39.79  37.01  38.40
1993        40.74  38.03  39.40      39.79  37.05  38.40
1994        40.76  38.06  39.42      39.79  37.07  38.42
1995        40.88  38.18  39.55      39.94  37.23  38.58
1996        41.04  38.35  39.71      40.15  37.44  38.76
1997        41.20  38.52  39.88      40.36  37.62  38.94
1998        41.36  38.70  40.04      40.54  37.79  39.13
1999        41.50  38.87  40.20      40.67  37.97  39.30
2000        41.62  39.04  40.34      40.78  38.19  39.46
2001        41.73  39.19  40.47      40.87  38.41  39.60
2002        41.80  39.32  40.57      40.95  38.63  39.73
2003        41.88  39.44  40.67      41.05  38.85  39.88
2004        41.97  39.57  40.78      41.21  39.11  40.12
2005        42.05  39.69  40.88      41.39  39.35  40.36
2006        42.07  39.76  40.92      41.55  39.52  40.50
2007        42.09  39.82  40.96      41.65  39.63  40.63
2008        42.10  39.88  41.00      41.74  39.69  40.71
2009        42.11  39.94  41.03      41.80  39.70  40.75
2010        42.12  39.99  41.06      41.84  39.73  40.76
2011        42.16  40.09  41.13      41.88  39.83  40.84
2012        42.18  40.16  41.18      41.91  39.92  40.91
2013        42.19  40.22  41.20      41.94  39.96  40.94
2014        42.20  40.26  41.23      41.95  39.98  40.94
2015        42.20  40.29  41.24      41.95  39.93  40.95
2016        42.16  40.26  41.20      41.88  39.74  40.80
2017        42.14  40.27  41.20      41.77  39.60  40.67
2018        42.15  40.32  41.23      41.68  39.52  40.57
2019        42.22  40.41  41.31      41.65  39.53  40.55
2020        42.33  40.55  41.43      41.69  39.62  40.64
2021        42.44  40.69  41.56      41.75  39.70  40.71
2022        42.58  40.87  41.72      41.82  39.81  40.79
2023        42.78  41.11  41.94      41.99  40.04  40.99

## Sorting Healthcare dataframe

In [212]:
scb = SCB('sv')
scb.go_down('NR')
scb.go_down('NR0109')
scb.go_down('HCBNP')
scb.set_query(tabellinnehål=['Totala hälso- och sjukvårdsutgifter, mnkr',
                              'BNP till marknadspris, mnkr',
                              'BNP relationstal, procent'],
              år=['2001',
                  '2002',
                  '2003',
                  '2004',
                  '2005',
                  '2006',
                  '2007',
                  '2008',
                  '2009',
                  '2010',
                  '2011',
                  '2012',
                  '2013',
                  '2014',
                  '2015',
                  '2016',
                  '2017',
                  '2018',
                  '2019',
                  '2020',
                  '2021',
                  '2022'])
scb.get_query()
data = scb.get_data()['data']

In [213]:
# Convert to DataFrame
df = pd.DataFrame(data)

# Split the 'key' column into separate columns
df['year'] = pd.DataFrame(df['key'].tolist(), index=df.index)

# Drop the original 'key' column
df.drop('key', axis=1, inplace=True)

# Extract mean age and median age from the 'values' column
df['Total healthcare costs'] = df['values'].apply(lambda x: float(x[0]) if x[0] != '..' else 0)
df['GDP at marketprice'] = df['values'].apply(lambda x: float(x[1]) if x[1] != '..' else 0)
df['GDP Percent %'] = df['values'].apply(lambda x: float(x[2]) if x[2] != '..' else 0)

# Drop the original 'values' column
df.drop('values', axis=1, inplace=True)

df.set_index('year', inplace=True)

healthcare_sweden = df
healthcare_sweden

      Total healthcare costs  GDP at marketprice  GDP Percent %
year
2001                197803.0           2503731.0            7.9
2002                213325.0           2598336.0            8.2
2003                224861.0           2703551.0            8.3
2004                230084.0           2830194.0            8.1
2005                238908.0           2931085.0            8.2
2006                251365.0           3121668.0            8.1
2007                265492.0           3320278.0            8.0
2008                280086.0           3412253.0            8.2
2009                293033.0           3341167.0            8.8
2010                297309.0           3573581.0            8.3
2011                388316.0           3727905.0           10.4
2012                401826.0           3743086.0           10.7
2013                416859.0           3822671.0           10.9
2014                437122.0           3992730.0           10.9
2015                460309.0           4260470.0           10.8
2016                479137.0           4415031.0           10.9
2017                498821.0           4625094.0           10.8
2018                528268.0           4828306.0           10.9
2019                546987.0           5049619.0           10.8
2020                571016.0           5038538.0           11.3
2021                609107.0           5486558.0           11.1
2022                628317.0           5984786.0           10.5

## Fourth out, data on house prices for new production

In [215]:
scb = SCB('sv')
scb.go_down('BO')
scb.go_down('BO0201')
scb.go_down('BO0201A')
scb.go_down('PrisPerAreorFH02')
scb.set_query(region=['Riket',
                      'Storstadsområdena',
                      'Stor-Stockholm',
                      'Stor-Göteborg',
                      'Stor-Malmö',
                      'Länsregionerna I - III',
                      'Länsregion I (norr)',
                      'Länsregion II (mitten)',
                      'Länsregion III (syd)'],
              bruttonettopris='brutto',
              tabellinnehål=['Byggnadsobjekt, antal som prisstatistiken baseras på',
                              'Lägenheter, antal som prisstatistiken baseras på',
                              'Lägenhetsarea/lägenhet, kvm',
                              'Markpris/lägenhetsarea, kr',
                              'Byggnadspris/lägenhetsarea, kr',
                              'Totalt produktionspris/lägenhetsarea, kr'],
              år=['1998',
                  '1999',
                  '2000',
                  '2001',
                  '2002',
                  '2003',
                  '2004',
                  '2005',
                  '2006',
                  '2007',
                  '2008',
                  '2009',
                  '2010',
                  '2011',
                  '2012',
                  '2013',
                  '2014',
                  '2015',
                  '2016',
                  '2017',
                  '2018',
                  '2019',
                  '2020',
                  '2021',
                  '2022'])
scb.get_query()
data = scb.get_data()['data']

In [218]:
# Convert to DataFrame
df = pd.DataFrame(data)

# Split the 'key' column into separate columns
df[['region','category','year']] = pd.DataFrame(df['key'].tolist(), index=df.index)

# Drop the original 'key' column
df.drop('key', axis=1, inplace=True)

# Extract mean age and median age from the 'values' column
df['Amount of buildings'] = df['values'].apply(lambda x: float(x[0]) if x[0] != '..' else 0)
df['Amount of apartments'] = df['values'].apply(lambda x: float(x[1]) if x[1] != '..' else 0)
df['Apartment Area sqm/ Apartment'] = df['values'].apply(lambda x: float(x[2]) if x[2] != '..' else 0)
df['Property cost/Apartment Area sqm'] = df['values'].apply(lambda x: float(x[3]) if x[3] != '..' else 0)
df['Building cost/Apartment Area sqm'] = df['values'].apply(lambda x: float(x[4]) if x[4] != '..' else 0)
df['Total Production costs / Apartment Area sqm'] = df['values'].apply(lambda x: float(x[5]) if x[5] != '..' else 0)

# Drop the original 'values' column
df.drop('values', axis=1, inplace=True)

df.set_index('year', inplace=True)

construction_sweden = df
construction_sweden

,region,category,Amount of buildings,Amount of apartments,Apartment Area sqm/ Apartment,Property cost/Apartment Area sqm,Building cost/Apartment Area sqm,Total Production costs / Apartment Area sqm
year,,,,,,,,
1998,00,1,117.0,3932.0,77.8,1702.0,13337.0,15039.0
1999,00,1,116.0,3944.0,83.4,2620.0,14911.0,17531.0
2000,00,1,136.0,4633.0,81.4,2387.0,15763.0,18150.0
2001,00,1,159.0,5709.0,85.4,3491.0,18758.0,22249.0
2002,00,1,189.0,7598.0,83.6,3700.0,19774.0,23474.0
...,...,...,...,...,...,...,...,...
2018,6,2,73.0,3101.0,66.4,4375.0,30447.0,34822.0
2019,6,2,67.0,2718.0,64.1,3589.0,30535.0,34124.0
2020,6,2,53.0,1983.0,69.8,4018.0,32721.0,36738.0
2021,6,2,52.0,3528.0,59.3,4159.0,29901.0,34060.0
2022,6,2,44.0,1590.0,64.1,4140.0,31070.0,35211.0